<p>
  <strong>Name:</strong>
  <%= @restaurant.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @restaurant.address %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @restaurant.phone_number %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @restaurant.category %>
</p>
<hr>

<% @restaurant.reviews.each do |review| %>
  <p class="review"><em>Reviews</em>: <%= review.content %></p>
  <%= link_to review_path(review), method: :delete, data: { confirm: "Are you sure you want to delete?"} do %>
  <i class="fas fa-trash-alt trash"></i>
  <% end %>
  <hr>
<% end %>

<%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
<%= link_to 'Back', restaurants_path %> |
<%= link_to 'Add a review', new_restaurant_review_path(@restaurant) %>
